@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
.global{
  background-color: #4a556869;
}
.mainDiv {
  font-family: "Lato", sans-serif;
  display: flex;
  padding: 10px;  
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
  }
  
  .image {
    width: 300px;;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }
  
  
 .details{
  display: flex;
  flex-direction: column;
  align-items: center;  

}
  .h1 {
    font-size: 20px;
    color: #1a120b; 
    text-align: center;
    margin: 5px 0;
  }
  
  .type {
    font-size: 18px;
    color: #4a5568;
    margin-right: 10px;
  text-align: center;
  }
  