@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

:root {
  --font-lato: 'Lato', sans-serif;
}

.landing {
  background-color: black;
  display: grid;
  height: 100vh;
}

.logo {
  width: 75%;
}

.videocontainer {
  position: relative;
  width: 100%;
}

.video {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajusta el color y opacidad del overlay */
}

.principal{
  display: flex;
  margin:0px;
  height:100 vh;
justify-content: center;
align-items: center;
flex-direction: column;
}
.buttoncontainer {
  opacity: 0;
  animation: fadeIn 1.2s ease-in-out infinite alternate; /* Ajusta la duración y el efecto de la animación */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
}}

button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.1s; /* Ajusta la duración y el efecto de la transición */
}

button:hover {
  background-color: rgb(218, 7, 0); 
}
.button{
  padding: 15px 32px;
}
